---
import Layout from '../layouts/Layout.astro';
---

<Layout>
<div style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; overflow: hidden;">
    <div id="game"></div>
</div>


        <script is:inline>
            EJS_player = "#game";
            EJS_core = "gba";
            EJS_color = "#000";
            EJS_backgroundColor = "#000";
            EJS_backgroundBlur = "true"
            EJS_alignStartButton = "center";
            EJS_startButtonName = "< press start> "
            EJS_backgroundImage = '/bg.png'
            EJS_pathtodata = "data/";
            EJS_gameUrl = "rom.zip";
            EJS_gameName = "Pokemon Emerald";
        </script>

<script is:inline src="data/loader.js"></script>


</Layout>
